* {
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
}

html,
body {
     box-sizing: border-box;
     background-color: black;
     color: white;

}

.nav {
     position: sticky;
     display: flex;
     background-color: rgba(0, 0, 0, 0.858);
     height: 80px;
     width: 100%;
     padding: 10px;
}

ul {
     display: flex;
     gap: 20px;
     align-items: center;
     list-style: none;
     font-weight: bold;
     font-size: 2rem;

}

q nav ul li {
     padding: 0px 20px;
}

.brand {
     align-items: center;
     display: flex;
     gap: 10px;
     font-weight: bold;
     font-size: 1.5rem;
     padding: 0 12px;
}

.brand img {
     height: 40px;
     width: 40px;
     border-radius: 50%;
}

.container {
     gap: 12px;
     margin: auto;
     min-height: 74vh;
     overflow: hidden;
     width: 90vw;
     color: white;
     background-position: center;
     background-image: url('photo/back.jpg');
     display: flex;
}

.songItem {
     height: 50px;
     display: flex;
     background-color: white;
     color: black;
     border-radius: 30px;
     margin: 20px;
     padding: 20px;
     align-items: center;
     justify-content: space-between;

}

.songItem img {
     border-radius: 50%;
     height: 45px;
     margin: 0 0px;
}

.spantime {
     margin: 0 23px;
}

.spantime i {
     cursor: pointer;
}





.bottam {
     position: sticky;
     height: 120px;
     background-color: rgb(0, 0, 0);
     bottom: 0;
     display: flex;
     align-items: center;
     color: white;
     flex-direction: column;
     justify-content: center;
}

.icons {
     margin-top: 15px;
}

.icons i {
     height: 20px;
     padding: 4px;
     cursor: pointer;
}

#myProgressBar {
     width: 90vw;
     cursor: pointer;
}

.songItemcontainer {
     margin-top: 74px;
}

.songinfo {
     position: absolute;
     display: flex;
     margin: 3px;
     align-items: center;
     left: 4vw;
}

.songinfo img {
     opacity: 0;
     transition: opacity 1s ease-in;
}